<!doctype html>
<html lang="en">
    <head>
        <title>Test Presenter</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">

        {encore_css my_entry}
        {encore_css other_entry}
        {encore_css my_entry, second, second}
    </head>
    <body>
        <h1>Test Presenter</h1>

        {encore_js my_entry}
        {encore_js other_entry}
        {encore_js my_entry, second, second}
    </body>
</html>
