asset:
	json_manifest_path: %filesDir%/build/manifest.json
	packages:
		different_build:
			base_path: '/'

encore:
	output_path: %filesDir%/build
	builds:
		different_build: %filesDir%/different_build
