name: Coverage

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          coverage: pcov
          extensions: tokenizer, uopz
          tools: composer:v2

      - name: Install dependencies
        run: composer update --no-progress --prefer-dist --prefer-stable --optimize-autoloader

      - name: Generate the coverage report
        run: vendor/bin/tester -C -s --coverage ./coverage.xml --coverage-src ./src ./tests

      - name: Upload the coverage report
        env:
          COVERALLS_REPO_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          wget https://github.com/php-coveralls/php-coveralls/releases/download/v2.5.3/php-coveralls.phar
          php php-coveralls.phar --verbose --config tests/.coveralls.yml
